<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-cs-disable-bitcode"
           version="1.0.0" >

  <name>DisableBitcode</name>
  <description>Cordova plugin to disable bitcode in iOS build settings and bundles xcode npm package</description>
  <license>Apache-2.0</license>
  <keywords>cordova,phonegap,bitcode,plugin</keywords>
  <repo>https://github.com/csantanapr/cordova-plugin-cs-disable-bitcode</repo>

  <platform name="ios">
    <hook type="after_plugin_install" src="src/disable-bitcode.js" />
    <hook type="before_plugin_uninstall" src="src/remove-bitcode.js" />
  </platform>
</plugin>
